/* All elements of the header */
header {
  background-color: burlywood;
  display: flex;
  height: 90px;
  min-height: fit-content;
  padding: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
ul {
  background-color: blue;
  width: 65%;
  justify-content: flex-start;
  display: flex;
}
li {
  color: azure;
  font-size: large;
  margin-left: 4%;
  margin-right: 6%;
}

/* All elements of the main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
section {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Elements of the second section */
#secondSection {
  justify-content: space-between;
}
/* Elements of the third section */
#thirdSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
article {
  /* width: 480px; */
}
/* Elements of the article */

/* Footer */
footer {
  width: 100%;
  margin-top: 15px;
}