/* All elements of the header */
header {
  background-color: gray;
  display: flex;
  height: 90px;
  min-height: fit-content;
  padding: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
section {
  width: 960px;
  display: flex;
}
ul {
  width: 760px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
li {
  font-size: large;
  margin-left: 4%;
  margin-right: 6%;
}

/* All elements of the main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
main > section {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Elements of the second section */
#secondSection {
  justify-content: space-between;
}
/* Elements of the third section */
#thirdSection {
  justify-content: space-between;
  flex-wrap: nowrap;
}
section#thirdSection > img {
  height: 400px;
}
article {
  width: 450px;
}
/* Elements of the article */
h3 {
  font-size: large;
}

/* Footer */
footer {
  background-color: gray;
  width: 100%;
  margin-top: 15px;
  height: 125px;
}